Repository eclipse-kura/kura, pull requests merged in 2018-10, with the labels that each got.

#2255 Added the interfaceName as argument in monitor listeners; fixed NPE
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/modem/ModemMonitorListener.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/wifi/WifiClientMonitorListener.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/NetworkServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/WifiMonitorServiceImpl.java
Labels: Kura-4.0.0, kura-net

#2257 Update to equinox wireadmin 1.0.800
  target-platform/config/kura.target-platform.build.properties
  target-platform/p2-repo-equinox_3.12.50/pom.xml
Labels: Kura-4.0.0, kura-wires

#2258 Fixed since annotation in BT APIs
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothLeAdapter.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothLeDevice.java
Labels: Kura-4.0.0, kura-api

#2246 Provide new container build
  kura/container/kura/Dockerfile
  kura/container/kura/README.md
  kura/container/kura/bin/add-config-ini
  kura/container/kura/bin/dp-extract-name
  kura/container/kura/bin/dp-install
  kura/container/kura/bin/dp-install-local
  kura/container/kura/bin/dp-register
  kura/container/kura/bin/kura-entry-point
  kura/container/kura/bin/pack-kura
  kura/container/kura/bin/start-kura
  kura/container/kura/bin/unpack-kura
  kura/container/kura/extensions/camel-additions/Dockerfile
  kura/container/kura/extensions/camel-additions/README.md
  kura/container/kura/extensions/kura-gdb/Dockerfile
  kura/container/kura/openshift/README.md
  kura/container/kura/openshift/kura-data-persistence.yml
  kura/container/kura/openshift/kura-ephermal.yml
  kura/container/kura/openshift/kura-instance-persistence.yml
  kura/docker/karaf-emulator/Dockerfile
  kura/docker/karaf-emulator/README.md
  kura/docker/test_quickstart_build_1/Dockerfile
Labels: Kura-4.0.0, enhancement

#2254 Added documentation for iBeacon and Eddystone driver
  _posts/devices/2017-10-11-2-field-protocols.md
  _posts/devices/2018-04-09-2-beacon-drivers.md
  _posts/wires/2018-05-08-1-kura-wires-eddystone.md
  _posts/wires/2018-05-08-kura-wires-ibeacon.md
  assets/images/wires/eddystoneDriver.png
  assets/images/wires/eddystoneWireGraph.png
  assets/images/wires/iBeaconDriver.png
  assets/images/wires/iBeaconWireGraph.png
Labels: documentation

#2252 Updated directory layout and log page
  _posts/admin/2017-05-09-directory-layout.md
Labels: documentation, enhancement

#2260 Fixed modem monitor
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
Labels: Kura-4.0.0, kura-net

#2259 Fix wrong reference to certificate servlet.
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/ApplicationCertsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/DeviceCertsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/ServerCertsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/FileServlet.java
Labels: Kura-4.0.0, kura-web2

#2261 Removed pid example in validation message.
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/ValidationMessages.properties
Labels: Kura-4.0.0, kura-web2

#2276 Changed validity checks for RMC strings
  kura/org.eclipse.kura.linux.position/src/main/java/org/eclipse/kura/linux/position/GpsDevice.java
  kura/org.eclipse.kura.linux.position/src/main/java/org/eclipse/kura/linux/position/NMEAParser.java
Labels: Kura-4.0.0, bug, kura-position

#2280 Added delay to Web Ui refresh
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/EntryClassUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/ServicesUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/cloudconnection/CloudConnectionConfigurationUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/cloudconnection/CloudConnectionsUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/cloudconnection/CloudInstancesUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/request/RequestContext.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/request/RequestQueue.java
Labels: Kura-4.0.0, kura-web2

#2265 Fix PDP auth with CID 1 in 4G.
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/generic/TelitModem.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910AtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2AtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2ConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/PppConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/PppConfigWriter.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/TabModemUi.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/visitor/linux/PppConfigTest.java
Labels: Kura-4.0.0, kura-net

#2282 Fixed issue with duplicate entries.
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Firewall/OpenPortsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Firewall/OpenPortsTabUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtFirewallOpenPortEntry.java
Labels: Kura-4.0.0, bug

#2266 Disabled apparmor at framework installation.
  kura/distrib/src/main/resources/intel-up2-ubuntu-16/kura_install.sh
Labels: Kura-4.0.0, kura-distrib

#2283 Set dependency as dynamic to prevent service disappear.
  kura/examples/org.eclipse.kura.demo.heater/OSGI-INF/heater.xml
  kura/examples/org.eclipse.kura.demo.modbus/OSGI-INF/modbusexample.xml
  kura/examples/org.eclipse.kura.example.beacon.scanner/OSGI-INF/beaconExample.xml
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/OSGI-INF/bleExample.xml
  kura/examples/org.eclipse.kura.example.ble.tisensortag/OSGI-INF/bleExample.xml
  kura/examples/org.eclipse.kura.example.eddystone.scanner/OSGI-INF/EddystoneScanner.xml
  kura/examples/org.eclipse.kura.example.ibeacon.scanner/OSGI-INF/IBeaconScanner.xml
  kura/examples/org.eclipse.kura.example.publisher/OSGI-INF/example.xml
  kura/examples/org.eclipse.kura.example.serial.publisher/OSGI-INF/example.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/CloudPublisherComponent.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/CloudSubscriberComponent.xml
Labels: Kura-4.0.0, bug, kura-cloud

#2285 Changes to the binary parser library
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/AbstractBinaryData.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/BinaryData.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/ByteArray.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/Double.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/Float.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/Int16.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/Int32.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/Int64.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/Int8.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/TypeUtil.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/UInt16.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/UInt32.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/UInt8.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/UnsignedIntegerLE.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/adapter/GainOffset.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/adapter/StringData.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/adapter/ToBoolean.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/block/task/BinaryDataTask.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/block/task/ByteArrayTask.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/block/task/ChannelBlockTask.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/block/task/ChannelBlockTaskWrapper.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/block/task/ChannelListenerBlockTask.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/block/task/StringTask.java
  kura/test/org.eclipse.kura.driver.block.test/src/test/java/org/eclipse/kura/driver/block/test/BinaryDataTest.java
  kura/test/org.eclipse.kura.driver.block.test/src/test/java/org/eclipse/kura/driver/block/test/BlockTaskTest.java
Labels: Kura-4.0.0, enhancement

#2284 First drop of release notes.
  kura/distrib/RELEASE_NOTES.txt
Labels: Kura-4.0.0, documentation

#2287 Added note for debugging in Java9
  _posts/dev/2014-05-03-remote-debugging.md
Labels: Kura-4.0.0, documentation, enhancement

#2292 First set of changes to refer to Hono.
  _posts/admin/2017-05-12-remote-management.md
  _posts/admin/2017-05-13-remote-management-kapua.md
  _posts/cloud-stacks/2017-01-16-kura-ec-cloud.md
  _posts/cloud-stacks/2017-05-01-kura-kapua.md
  _posts/cloud-stacks/2017-05-02-kura-hono.md
  assets/images/admin/KapuaCommand.png
  assets/images/admin/KapuaConfiguration.png
  assets/images/admin/KapuaPackages.png
  assets/images/admin/KapuaSnapshots.png
  assets/images/hono/cloudConnections.png
  assets/images/hono/cloudConnectionsUpdated.png
  assets/images/hono/honoCloudService.png
  assets/images/hono/honoDataService.png
  assets/images/hono/honoMQTTDataTransport.png
  assets/images/hono/newCloudConnection1.png
  assets/images/hono/newCloudConnection2.png
Labels: Kura-4.0.0, discussion
