Repository eclipse-kura/kura, pull requests merged in 2018-11, with the labels that each got.

#2297 Added check for cloudService in sensorTag example
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/src/main/java/org/eclipse/kura/example/ble/tisensortag/tinyb/BluetoothLe.java
Labels: kura-bluetooth

#2307 Updated Kura 4.0.0 documentation
  _posts/devices/2017-10-11-2-field-protocols.md
  _posts/devices/2017-10-11-3-driver-implemetation.md
  _posts/devices/2017-10-11-4-IO-apis.md
  _posts/devices/2017-10-18-5-s7-driver.md
  _posts/devices/2017-10-18-6-opcua-driver.md
  _posts/devices/2018-04-09-1-gpio-driver.md
  _posts/devices/2018-04-09-2-beacon-drivers.md
  _posts/devices/2018-04-09-sensortag-driver.md
  _posts/devices/2018-04-12-sensehat-driver.md
  _posts/wires/2017-05-01-kura-wires-intro.md
  _posts/wires/2017-05-02-kura-wires-dbfilter.md
  _posts/wires/2017-05-05-kura-wires-opcua.md
  _posts/wires/2017-05-06-kura-wires-sensortag.md
  _posts/wires/2018-04-09-kura-wires-gpio.md
  _posts/wires/2018-05-08-1-kura-wires-eddystone.md
  _posts/wires/2018-05-08-kura-wires-ibeacon.md
Labels: Kura-4.0.0, documentation

#2309 Always use double as GainOffset return type
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.driver.block/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/adapter/GainOffset.java
  kura/org.eclipse.kura.driver.block/src/main/java/org/eclipse/kura/driver/binary/adapter/StringData.java
  kura/test/org.eclipse.kura.driver.block.test/src/test/java/org/eclipse/kura/driver/block/test/BinaryDataTest.java
Labels: enhancement, kura-driver

#2305 Remove the Jetty version from Server reply.
  target-platform/config/kura.target-platform.build.properties
  target-platform/org.eclipse.kura.jetty.customizer/src/main/java/org/eclipse/kura/jetty/customizer/KuraJettyCustomizer.java
Labels: enhancement, kura-sec, kura-web2
