Repository eclipse-kura/kura, pull requests merged in 2018-02, with the labels that each got.

#1882 Added support for 'Umnanaged' network interfaces
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/NetInterfaceStatus.java
  kura/org.eclipse.kura.core.net/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core.net/src/main/java/org/eclipse/kura/core/net/AbstractNetInterface.java
  kura/org.eclipse.kura.net.admin/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/FirewallConfigurationServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/NetworkAdminServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/NetworkConfigurationServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/PppFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/CnS.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/Hip.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/mc87xx/SierraMc87xxModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910/TelitLe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/ublox/generic/UbloxModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/DnsMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/EthernetMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/WifiInterfaceState.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/WifiMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/DhcpConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/DhcpConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/FirewallAutoNatConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/FirewallAutoNatConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/HostapdConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/HostapdConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/LinuxReadVisitor.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/PppConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/PppConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/WifiConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/WifiConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/WpaSupplicantConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/WpaSupplicantConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/util/ModemXchangeScript.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/util/PppAuthSecrets.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/util/PppUtil.java
  kura/org.eclipse.kura.web2/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/NetworkTabsUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/TabTcpIpUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtNetworkServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtStatusServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtNetIfStatus.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/ValidationMessages.properties
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/monitor/EthernetMonitorServiceImplTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImplTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/monitor/WifiMonitorServiceImplTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/visitor/linux/FirewallAutoNatConfigTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigRedhatTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigTest.java
Labels: kura-net

#1910 Implemented downloading a partial snapshot containing the wire graph
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/Console.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/SnapshotsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresPanelUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresPanelUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresRPC.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/DownloadHelper.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtWireServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/WiresSnapshotServlet.java
Labels: kura-web2, kura-wires

#1917 Improve the description of a few settings
  kura/org.eclipse.kura.broker.artemis.simple.mqtt/OSGI-INF/metatype/org.eclipse.kura.broker.artemis.simple.mqtt.BrokerInstance.xml
Labels: documentation, enhancement

#1920 Fix the root cause of the exception
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java
Labels: bug

#1909 Fix gpio driver
  kura/org.eclipse.kura.driver.gpio.provider/src/main/java/org/eclipse/kura/internal/driver/gpio/GPIOChannelDescriptor.java
  kura/org.eclipse.kura.driver.gpio.provider/src/main/java/org/eclipse/kura/internal/driver/gpio/GPIODriver.java
Labels: bug, kura-driver

#1913 Wires composer robustness and usability improvements
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java
  kura/org.eclipse.kura.driver.helper.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.helper.provider/src/main/java/org/eclipse/kura/internal/driver/DriverDescriptorServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/configuration/Configurations.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/AssetDataUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsListUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresPanelUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/BlinkEffect.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/DropEvent.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/Point.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/PortNames.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/Wire.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/WireComponent.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/WireComponentRenderingProperties.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/composer/WireComposer.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtWireServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/util/GwtServerUtil.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtConfigComponent.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
  kura/org.eclipse.kura.web2/src/main/webapp/denali.css
  kura/org.eclipse.kura.web2/src/main/webapp/wires_composer.js
  kura/test/org.eclipse.kura.core.configuration.test/src/test/java/org/eclipse/kura/core/configuration/ConfigurationServiceTest.java
Labels: enhancement, kura-web2, kura-wires

#1926 Fixed possible NPEs
  kura/org.eclipse.kura.core.deployment/src/main/java/org/eclipse/kura/core/deployment/download/DeploymentPackageDownloadOptions.java
  kura/org.eclipse.kura.core.deployment/src/main/java/org/eclipse/kura/core/deployment/install/DeploymentPackageInstallOptions.java
  kura/org.eclipse.kura.core.deployment/src/main/java/org/eclipse/kura/core/deployment/uninstall/DeploymentPackageUninstallOptions.java
  kura/test/org.eclipse.kura.core.deployment.test/src/test/java/org/eclipse/kura/core/deployment/download/impl/DeploymentPackageDownloadOptionsTest.java
  kura/test/org.eclipse.kura.core.deployment.test/src/test/java/org/eclipse/kura/core/deployment/install/DeploymentPackageInstallOptionsTest.java
  kura/test/org.eclipse.kura.core.deployment.test/src/test/java/org/eclipse/kura/core/deployment/uninstall/DeploymentPackageUninstallOptionsTest.java
Labels: kura-deploy

#1930 Changes that allow to view, select and add modem PDP profiles.
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/modem/CellularModem.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/modem/ModemPdpContext.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/modem/ModemPdpContextType.java
  kura/org.eclipse.kura.core.net/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.net.admin/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/hspa/HspaModem.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/hspa/HspaModemAtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/hspa/HspaModemConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/mc87xx/SierraMc87xx.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/mc87xx/SierraMc87xxAtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/mc87xx/SierraMc87xxConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/mc87xx/SierraMc87xxModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/usb598/SierraUsb598.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/usb598/SierraUsb598ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/usb598/SierraUsb598Status.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/usb598/SierraUsb598StatusCodes.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910AtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910ConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910ServiceProviders.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/generic/TelitModem.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/generic/TelitModemAtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910AtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910ConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910/TelitLe910.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910/TelitLe910AtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910/TelitLe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2ConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/ublox/generic/UbloxModem.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/ublox/generic/UbloxModemAtCommands.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/ublox/generic/UbloxModemConfigGenerator.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/ublox/generic/UbloxModemFactory.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/TabModemUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/TabModemUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtNetworkServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtModemPdpEntry.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtNetworkService.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
Labels: bug, kura-net
