Repository eclipse-kura/kura, pull requests merged in 2018-06, with the labels that each got.

#2084 Upgrade to Camel 2.21.1
  karaf/features/kura-core/src/main/feature/feature.xml
  kura/distrib/config/kura.build.properties
  kura/distrib/pom.xml
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  kura/features/org.eclipse.kura.camel.feature/feature.xml
  kura/org.eclipse.kura.camel.xml/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.camel.xml/OSGI-INF/metatype/org.eclipse.kura.camel.xml.XmlRouterComponent.xml
  kura/org.eclipse.kura.camel.xml/OSGI-INF/xmlRouter.xml
  kura/org.eclipse.kura.camel.xml/pom.xml
  kura/org.eclipse.kura.camel.xml/src/org/eclipse/kura/camel/xml/XmlRouterComponent.java
  kura/org.eclipse.kura.camel/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.camel/build.properties
  kura/org.eclipse.kura.camel/pom.xml
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/cloud/KuraCloudComponent.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/component/AbstractCamelComponent.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/component/AbstractJavaCamelComponent.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/component/AbstractXmlCamelComponent.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/runner/CamelRunner.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/runner/ContextLifecycleListener.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/runner/ServiceConsumer.java
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/type/TypeConverter.java
  kura/org.eclipse.kura.util/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.util/pom.xml
  kura/org.eclipse.kura.util/src/main/java/org/eclipse/kura/util/osgi/FilterUtil.java
  kura/org.eclipse.kura.util/src/main/java/org/eclipse/kura/util/osgi/SingleServiceTracker.java
  kura/org.eclipse.kura.wire.camel/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.wire.camel/OSGI-INF/metatype/org.eclipse.kura.wire.camel.CamelConsume.xml
  kura/org.eclipse.kura.wire.camel/OSGI-INF/metatype/org.eclipse.kura.wire.camel.CamelProcess.xml
  kura/org.eclipse.kura.wire.camel/OSGI-INF/metatype/org.eclipse.kura.wire.camel.CamelProduce.xml
  kura/org.eclipse.kura.wire.camel/OSGI-INF/org.eclipse.kura.wire.camel.CamelConsume.xml
  kura/org.eclipse.kura.wire.camel/OSGI-INF/org.eclipse.kura.wire.camel.CamelProcess.xml
  kura/org.eclipse.kura.wire.camel/OSGI-INF/org.eclipse.kura.wire.camel.CamelProduce.xml
  kura/org.eclipse.kura.wire.camel/about.html
  kura/org.eclipse.kura.wire.camel/build.properties
  kura/org.eclipse.kura.wire.camel/pom.xml
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/AbstractCamelWireComponent.java
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/AbstractEndpointWireComponent.java
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/AbstractReceiverWireComponent.java
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/AbstractWireComponent.java
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/CamelConsume.java
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/CamelProcess.java
  kura/org.eclipse.kura.wire.camel/src/main/java/org/eclipse/kura/wire/camel/CamelProduce.java
  kura/pom.xml
  kura/setups/launchers/Eclipse Kura Emulator.launch
  kura/test/org.eclipse.kura.camel.test/src/test/java/org/eclipse/kura/camel/cloud/KuraCloudComponentTest.java
  kura/test/org.eclipse.kura.util.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.util.test/build.properties
  kura/test/org.eclipse.kura.util.test/pom.xml
  kura/test/org.eclipse.kura.util.test/src/main/java/org/eclipse/kura/utils/SingleServiceTrackerTest.java
  kura/test/org.eclipse.kura.util.test/src/test/java/org/eclipse/kura/util/FilterUtilTest.java
  kura/test/pom.xml
  target-platform/config/kura.target-platform.build.properties
  target-platform/org.eclipse.kura.camel.sun.misc/pom.xml
  target-platform/p2-repo-common/pom.xml
Labels: enhancement, kura-camel, kura-wires

#2140 Ignore the created JAR file from Git
  kura/org.eclipse.kura.driver.s7plc.provider/lib/.gitignore
Labels: Kura-4.0.0, kura-build

#2141 Fix broken file due to merge error
  kura/distrib/src/main/resources/intel-up2-centos-7-nn/kura.properties
  kura/distrib/src/main/resources/intel-up2-centos-7/kura.properties
Labels: P1, bug

#2142 Update launcher config to include new bundles
  kura/setups/launchers/Eclipse Kura Emulator.launch
Labels: cleanup

#2148 Changed currentMillis to nanoTime in Watchdog service
  kura/org.eclipse.kura.linux.watchdog/src/main/java/org/eclipse/kura/linux/watchdog/CriticalComponentRegistration.java
  kura/org.eclipse.kura.linux.watchdog/src/main/java/org/eclipse/kura/linux/watchdog/WatchdogServiceImpl.java
  kura/test/org.eclipse.kura.linux.watchdog.test/src/test/java/org/eclipse/kura/linux/watchdog/WatchdogServiceImplTest.java
Labels: Kura-4.0.0, enhancement
