Repository eclipse-kura/kura, pull requests merged in 2018-04, with the labels that each got.

#2021 Fixed regression in drivers and assets ui
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsListUi.java
Labels: Kura-3.2.0, kura-web2

#2028 Removed localisation from o.e.k.w.provider bundle
  kura/examples/org.eclipse.kura.example.driver.sensehat/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.wire.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireComponentTrackerCustomizer.java
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireServiceImpl.java
  kura/test/org.eclipse.kura.internal.wire.test/src/test/java/org/eclipse/kura/internal/wire/WireServiceImplTest.java
Labels: Kura-3.2.0, kura-wires

#2016 Modified wrong reference to internal modem.
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/modem/ModemDriver.java
Labels: Kura-3.2.0

#2025 Fixed example publisher activation
  kura/examples/org.eclipse.kura.example.publisher/src/main/java/org/eclipse/kura/example/publisher/ExamplePublisher.java
Labels: Kura-3.2.0

#2026 Fix for array validation
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/AbstractServicesUi.java
Labels: Kura-3.2.0, kura-web2

#2034 Added stop watchdogd step to WatchdogService
  kura/org.eclipse.kura.linux.watchdog/src/main/java/org/eclipse/kura/linux/watchdog/WatchdogServiceImpl.java
Labels: Kura-3.2.0

#2039 Fixed rotation issue in sensehat driver
  kura/examples/org.eclipse.kura.raspberrypi.sensehat/src/main/java/org/eclipse/kura/raspberrypi/sensehat/ledmatrix/FrameBufferRaw.java
Labels: Kura-3.2.0

#2036 Fix for modem serial ports detection and ppp
  kura/emulator/org.eclipse.kura.emulator.usb/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/modem/ModemDevice.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/usb/UsbDeviceEvent.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/usb/UsbModemDevice.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/usb/UsbTtyDevice.java
  kura/org.eclipse.kura.linux.net/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/NetworkServiceImpl.java
  kura/org.eclipse.kura.linux.usb/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.linux.usb/src/main/java/org/eclipse/kura/linux/usb/LinuxUdevNative.java
  kura/org.eclipse.kura.linux.usb/src/main/java/org/eclipse/kura/linux/usb/LinuxUdevUtil.java
  kura/org.eclipse.kura.linux.usb/src/main/java/org/eclipse/kura/linux/usb/UsbServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
Labels: Kura-3.2.0, bug, kura-net

#2043 Fixed switching network interface status from 'L2Only' to 'Unmanaged'.
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigReader.java
Labels: Kura-3.2.0, bug, kura-net

#2044 Fixed dhclient issue after Raspbian fresh install
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dhcp/DhcpClientLeases.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dhcp/DhcpClientManager.java
Labels: Kura-3.2.0, kura-net

#1987 First draft of 3.2.0 release notes.
  kura/distrib/RELEASE_NOTES.txt
Labels: Kura-3.2.0

#2051 Improve documentation for Fedora
  kura/distrib/src/main/resources/fedora-nn/README.md
  kura/distrib/src/main/resources/fedora/README.md
Labels: documentation, enhancement

#1978 Modbus TCP incorrectly reads frame length
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.protocol.modbus/src/main/java/org/eclipse/kura/protocol/modbus/ModbusProtocolDevice.java
Labels: kura-protocol-modbus

#2041 Started fixing archetype
  kura/tools/archetype/example/pom.xml
  kura/tools/archetype/example/src/main/resources/META-INF/maven/archetype-metadata.xml
  kura/tools/archetype/example/src/main/resources/archetype-resources/__rootArtifactId__/pom.xml
Labels: Kura-3.3.0

#2054 Fixed some glitches in CloudServices section of the web ui
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/CloudServices/CloudInstancesUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/CloudServices/CloudInstancesUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/CloudServices/CloudServiceConfigurationUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/CloudServices/CloudServiceConfigurationUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/CloudServices/CloudServiceConfigurationsUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/CloudServices/CloudServicesUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/request/Request.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/request/RequestContext.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/request/RequestQueue.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/request/SuccessCallback.java
Labels: Kura-3.3.0, kura-web2

#2056 Fixed getManagedCloudServicePids() in DefaultCloudServiceFactory
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/factory/DefaultCloudServiceFactory.java
  kura/test/org.eclipse.kura.core.cloud.test/src/test/java/org/eclipse/kura/core/cloud/factory/DefaultCloudServiceFactoryTest.java
Labels: Kura-3.3.0, kura-cloud

#2046 Added support for inverted GPIO status indicator led to GpioLedManager
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/CloudConnectionStatusServiceImpl.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/CloudConnectionStatusURL.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/GpioLedManager.java
  kura/test/org.eclipse.kura.core.status.test/src/test/java/org/eclipse/kura/core/status/CloudConnectionStatusURLTest.java
Labels: Kura-3.3.0
