Repository eclipse-kura/kura, pull requests merged in 2018-03, with the labels that each got.

#1931 WireAsset: do not log errors if they are emitted
  kura/org.eclipse.kura.wire.component.provider/src/main/java/org/eclipse/kura/internal/wire/asset/WireAsset.java
Labels: Kura-3.2.0

#1938 Removed disconnect step from BaseAsset deactivate
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
  kura/org.eclipse.kura.wire.component.provider/src/main/java/org/eclipse/kura/internal/wire/asset/WireAsset.java
Labels: kura-wires

#1922 Support 'Layer 2 Only' configuration for Ethernet and Wireless interfaces.
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/NetConfigIP.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/NetInterfaceStatus.java
  kura/org.eclipse.kura.core.net/src/main/java/org/eclipse/kura/core/net/AbstractNetInterface.java
  kura/org.eclipse.kura.core.net/src/main/java/org/eclipse/kura/core/net/NetworkConfiguration.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/util/KuraConstants.java
  kura/org.eclipse.kura.net.admin/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/NetworkAdminConfiguration.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/NetworkAdminServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/EthernetMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/InterfaceState.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/WifiInterfaceState.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/WifiMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/HostapdConfigWriter.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigReader.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/IfcfgConfigWriter.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/TabTcpIpUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Network/TabWirelessUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtNetworkServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtStatusServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtNetIfConfigMode.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtNetIfStatus.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/ValidationMessages.properties
  kura/test/org.eclipse.kura.core.net.test/src/test/java/org/eclipse/kura/core/net/NetInterfaceAddressConfigImplTest.java
  kura/test/org.eclipse.kura.core.net.test/src/test/java/org/eclipse/kura/core/net/NetworkConfigurationTest.java
  kura/test/org.eclipse.kura.core.net.test/src/test/java/org/eclipse/kura/core/net/WifiInterfaceAddressConfigImplTest.java
  kura/test/org.eclipse.kura.core.net.test/src/test/java/org/eclipse/kura/core/net/modem/ModemInterfaceAddressConfigImplTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/NetworkConfigurationServiceimplTest.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/monitor/EthernetMonitorServiceImplTest.java
Labels: Kura-3.2.0, kura-net

#1944 Fix a possible NPE
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/upgrade/ConfigurationUpgrade.java
Labels: Kura-3.2.0, bug

#1945 Fixed db cleanup issue
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/data/store/DbDataStore.java
Labels: Kura-3.2.0

#1935 Added notification support to OPC-UA driver
  kura/distrib/config/kura.build.properties
  kura/distrib/pom.xml
  kura/features/org.eclipse.kura.driver.opcua/feature.xml
  kura/org.eclipse.kura.driver.opcua.localization/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.opcua.localization/about.html
  kura/org.eclipse.kura.driver.opcua.localization/build.properties
  kura/org.eclipse.kura.driver.opcua.localization/pom.xml
  kura/org.eclipse.kura.driver.opcua.localization/src/main/java/org/eclipse/kura/driver/opcua/localization/OpcUaMessages.java
  kura/org.eclipse.kura.driver.opcua.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.opcua.provider/OSGI-INF/metatype/org.eclipse.kura.driver.opcua.xml
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/AsyncTaskQueue.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/ConnectionManager.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/DataTypeMapper.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/ListenerRegistrations.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/NodeIdType.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/OpcUaChannelDescriptor.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/OpcUaDriver.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/OpcUaOptions.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/SubscriptionManager.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/Utils.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/request/ListenParams.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/request/ListenRequest.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/request/ReadParams.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/request/Request.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/request/WriteParams.java
  kura/pom.xml
  kura/test/org.eclipse.kura.internal.driver.opcua.test/src/main/java/org/eclipse/kura/internal/driver/opcua/test/OpcUaDriverTest.java
  kura/test/org.eclipse.kura.internal.driver.opcua.test/src/test/java/org/eclipse/kura/internal/driver/opcua/OpcUaChannelDescriptorTest.java
  kura/test/org.eclipse.kura.internal.driver.opcua.test/src/test/java/org/eclipse/kura/internal/driver/opcua/OpcUaDriverTest.java
Labels: Kura-3.2.0

#1947 Fixed modem reset functionality.
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/modem/ModemDriver.java
Labels: kura-net

#1954 Fixed possible NPE in OPCUA driver
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/ConnectionManager.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/SubscriptionManager.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/Utils.java
Labels: Kura-3.2.0

#1964 Cleaned up and added new test procedures
  assets/qa/system-test/qa_kura.ods
Labels: testing

#1949 Added notifications on SensorTagDriver and fix several bugs in Sensor…
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/src/main/java/org/eclipse/kura/example/ble/tisensortag/tinyb/BluetoothLe.java
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/src/main/java/org/eclipse/kura/example/ble/tisensortag/tinyb/TiSensorTag.java
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/src/main/java/org/eclipse/kura/example/ble/tisensortag/tinyb/TiSensorTagGattResources.java
  kura/examples/test/org.eclipse.kura.example.ble.tisensortag.tinyb.test/src/test/java/org/eclipse/kura/example/ble/tisensortag/tinyb/BluetoothLeTest.java
  kura/examples/test/org.eclipse.kura.example.ble.tisensortag.tinyb.test/src/test/java/org/eclipse/kura/example/ble/tisensortag/tinyb/TiSensorTagTest.java
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothLeGattCharacteristic.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/SensorListener.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/SensorName.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/SensorTagChannelDescriptor.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/SensorTagDriver.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/TiSensorTag.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/TiSensorTagGattResources.java
  kura/test/org.eclipse.kura.internal.driver.ble.sensortag.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.internal.driver.ble.sensortag.test/src/test/java/org/eclipse/kura/internal/driver/ble/sensortag/SensorTagDriverTest.java
  kura/test/org.eclipse.kura.internal.driver.ble.sensortag.test/src/test/java/org/eclipse/kura/internal/driver/ble/sensortag/TiSensorTagTest.java
Labels: Kura-3.2.0, enhancement, kura-bluetooth, kura-driver

#1963 Prevent getters from creating new object instances
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/wire/WireEnvelope.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/wire/WireRecord.java
Labels: Kura-3.2.0

#1977 Removed OCD from partial graph snapshots
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/WiresSnapshotServlet.java
Labels: Kura-3.2.0

#1972 Allow to monitor more than two Ethernet interfaces
  kura/org.eclipse.kura.net.admin/OSGI-INF/ethernetMonitor.xml
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/EthernetMonitorServiceImpl.java
Labels: Kura-3.2.0, enhancement, kura-net

#1982 Improved wire graph/asset configuration upgrade from previous versions
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/upgrade/ConfigurationUpgrade.java
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/upgrade/WireAssetConfigurationUpgrade.java
Labels: Kura-3.2.0, kura-asset, kura-config

#1988 Backport maintenance fixes
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/NetworkServiceImpl.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/modem/ModemDriver.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/util/KuraConstants.java
Labels: Kura-3.2.0

#1990 Use default config for bind logging
  kura/distrib/src/main/resources/common/named/named.conf
  kura/distrib/src/main/resources/pcengines-apu/kura_install.sh
  kura/distrib/src/main/resources/raspberry-pi-2/kura_install.sh
  kura/distrib/src/main/resources/raspberry-pi-bplus/kura_install.sh
  kura/distrib/src/main/resources/raspberry-pi/kura_install.sh
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dns/LinuxNamed.java
Labels: Kura-3.2.0

#1992 Re-enable plain Fedora installer in addition to RPMs
  kura/distrib/pom.xml
Labels: Kura-3.2.0

#1996 Added dp for gpio driver
  kura/distrib/pom.xml
Labels: Kura-3.2.0, kura-build, kura-driver

#1998 Fixed dhcpd shutdown
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/linux/util/LinuxProcessUtil.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dhcp/DhcpServerManager.java
Labels: Kura-3.2.0, kura-net
