Repository eclipse-kura/kura, pull requests merged in 2018-08, with the labels that each got.

#2175 NMEAParser class cleanup
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/position/NmeaPosition.java
  kura/org.eclipse.kura.linux.position/src/main/java/org/eclipse/kura/linux/position/NMEAParser.java
  kura/test/org.eclipse.kura.core.test/src/main/java/org/eclipse/kura/core/test/DataServiceTest.java
Labels: Kura-3.3.0, enhancement, kura-position

#1939 [Testing] Updated JaCoCo version
  kura/examples/test/pom.xml
  kura/pom.xml
Labels: kura-build, testing

#2191 Set payload timestamp in BLE scanner examples
  kura/distrib/config/kura.build.properties
  kura/examples/org.eclipse.kura.example.beacon.scanner/src/main/java/org/eclipse/kura/example/beacon/scanner/BeaconScannerExample.java
  kura/examples/org.eclipse.kura.example.eddystone.scanner/src/main/java/org/eclipse/kura/example/eddystone/scanner/EddystoneScanner.java
  kura/examples/org.eclipse.kura.example.ibeacon.scanner/src/main/java/org/eclipse/kura/example/ibeacon/scanner/IBeaconScanner.java
Labels: Kura-3.3.0, enhancement, kura-bluetooth

#2194 Updated configuration label in BLE example
  kura/distrib/config/kura.build.properties
  kura/examples/org.eclipse.kura.example.ibeacon.advertiser/OSGI-INF/metatype/org.eclipse.kura.example.ibeacon.advertiser.IBeaconAdvertiser.xml
Labels: Kura-3.3.0, bug, kura-bluetooth

#2188 Use log4j2 in emulator and tests
  kura/distrib/config/kura.build.properties
  kura/distrib/src/main/resources/common/Kura_Emulator_Linux.launch
  kura/distrib/src/main/resources/common/Kura_Emulator_OSX.launch
  kura/distrib/src/main/sh/extract_upgrade.sh
  kura/emulator/org.eclipse.kura.emulator/src/main/resources/Kura_Core_Test.launch
  kura/emulator/org.eclipse.kura.emulator/src/main/resources/Kura_Emulator_Linux.launch
  kura/emulator/org.eclipse.kura.emulator/src/main/resources/Kura_Emulator_OSX.launch
  kura/emulator/org.eclipse.kura.emulator/src/main/resources/log4j.properties
  kura/emulator/org.eclipse.kura.emulator/src/main/resources/log4j.xml
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/data/store/DbDataStore.java
  kura/setups/launchers/Eclipse Kura Emulator.launch
  kura/test/pom.xml
Labels: Kura-3.3.0, bug

#2198 Synchronized BLE iBeacon scanner configuration with code
  kura/examples/org.eclipse.kura.example.ibeacon.scanner/OSGI-INF/metatype/org.eclipse.kura.example.ibeacon.scanner.IBeaconScanner.xml
Labels: Kura-4.0.0, kura-bluetooth

#2197 Added new package import to ble.provider
  kura/org.eclipse.kura.ble.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.ble.provider/src/main/java/org/eclipse/kura/internal/ble/beacon/BluetoothLeBeaconManagerImpl.java
  kura/org.eclipse.kura.core.comm/META-INF/MANIFEST.MF
Labels: Kura-4.0.0, bug, kura-log

#2179 Fixed interruptedException
  kura/emulator/org.eclipse.kura.emulator.watchdog/src/main/java/org/eclipse/kura/emulator/watchdog/WatchdogServiceImpl.java
  kura/org.eclipse.kura.ble.provider/src/main/java/org/eclipse/kura/internal/ble/BluetoothLeServiceImpl.java
  kura/org.eclipse.kura.ble.provider/src/main/java/org/eclipse/kura/internal/ble/util/BluetoothSafeProcess.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/cloud/app/command/CommandCloudApp.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/cloud/app/command/ProcessMonitorThread.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/SensorTagDriver.java
  kura/org.eclipse.kura.linux.bluetooth/src/main/java/org/eclipse/kura/linux/bluetooth/util/BluetoothUtil.java
Labels: Kura-4.0.0

#2187 Made ConfigurationService reference to marshallers explicit
  kura/org.eclipse.kura.core.configuration/OSGI-INF/configuration.xml
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java
  kura/test/org.eclipse.kura.asset.provider.test/pom.xml
  kura/test/org.eclipse.kura.core.test/pom.xml
  kura/test/org.eclipse.kura.internal.driver.opcua.test/pom.xml
  kura/test/org.eclipse.kura.wire.component.provider.test/pom.xml
Labels: Kura-4.0.0, kura-config

#2173 Implemented nonblocking config update for s7 driver
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.driver.s7plc.provider/src/main/java/org/eclipse/kura/internal/driver/s7plc/S7PlcDriver.java
  kura/org.eclipse.kura.driver.s7plc.provider/src/main/java/org/eclipse/kura/internal/driver/s7plc/S7PlcOptions.java
  kura/test/org.eclipse.kura.internal.driver.s7plc.test/src/test/java/org/eclipse/kura/internal/driver/s7plc/S7PlcDriverTest.java
  kura/test/org.eclipse.kura.internal.driver.s7plc.test/src/test/java/org/eclipse/kura/internal/driver/s7plc/task/S7PlcToplevelBlockTaskTest.java
Labels: Kura-4.0.0, enhancement, kura-api, kura-driver, kura-wires

#2193 [#2189]: Allow customizing Jetty to evaluate reverse proxy headers
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  kura/distrib/src/main/osgi/equinox_3.12.50/configuration/config.ini
  target-platform/config/kura.target-platform.build.properties
  target-platform/org.eclipse.kura.jetty.customizer/pom.xml
  target-platform/org.eclipse.kura.jetty.customizer/src/main/java/org/eclipse/kura/jetty/customizer/KuraJettyCustomizer.java
  target-platform/org.eclipse.kura.jetty.customizer/src/main/resources/about.html
  target-platform/p2-repo-common/pom.xml
  target-platform/pom.xml
Labels: Kura-4.0.0, kura-web2

#2183 Implemented periodic h2db defrag
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/db/H2DbService.java
  kura/org.eclipse.kura.core/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core/OSGI-INF/metatype/org.eclipse.kura.core.db.H2DbService.xml
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/data/store/DbDataStore.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/db/H2DbServiceImpl.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/db/H2DbServiceOptions.java
  kura/org.eclipse.kura.wire.h2db.component.provider/src/main/java/org/eclipse/kura/internal/wire/h2db/common/H2DbServiceHelper.java
  kura/org.eclipse.kura.wire.h2db.component.provider/src/main/java/org/eclipse/kura/internal/wire/h2db/filter/H2DbWireRecordFilter.java
  kura/org.eclipse.kura.wire.h2db.component.provider/src/main/java/org/eclipse/kura/internal/wire/h2db/store/H2DbWireRecordStore.java
  kura/test/org.eclipse.kura.core.db.test/src/test/java/org/eclipse/kura/core/db/H2DbServiceImplTest.java
  kura/test/org.eclipse.kura.wire.h2db.component.provider.test/src/test/java/org/eclipse/kura/internal/wire/h2db/filter/H2DbWireRecordFilterTest.java
  kura/test/org.eclipse.kura.wire.h2db.component.provider.test/src/test/java/org/eclipse/kura/internal/wire/h2db/store/H2DbWireRecordStoreTest.java
Labels: Kura-4.0.0, enhancement, kura-db

#2186 Documented fs tuning to avoid h2 corruption
  _posts/builtin/2017-10-18-h2-database.md
Labels: Kura-4.0.0, documentation, kura-db

#2200 Removed compact2 check as not needed anymore.
  kura/examples/pom.xml
  kura/pom.xml
Labels: kura-build
