Repository eclipse-kura/kura, pull requests merged in 2018-09, with the labels that each got.

#2212 Improved subscription management in default CloudEndpoint
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/cloudconnection/CloudEndpoint.java
  kura/org.eclipse.kura.broker.artemis.simple.mqtt/OSGI-INF/org.eclipse.kura.broker.artemis.simple.mqtt.BrokerInstance.xml
  kura/org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provider/src/main/java/org/eclipse/kura/internal/cloudconnection/eclipseiot/mqtt/cloud/CloudConnectionManagerImpl.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceImpl.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceOptions.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/subscriber/CloudSubscriberImpl.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/subscriber/CloudSubscriptionRecord.java
  kura/org.eclipse.kura.core/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/util/MqttTopicUtil.java
Labels: EclipseInt, Kura-4.0.0, enhancement

#2206 Fixed OPCUA driver authentication
  kura/org.eclipse.kura.driver.opcua.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.opcua.provider/OSGI-INF/metatype/org.eclipse.kura.driver.opcua.xml
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/ConnectionManager.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/KeyStoreLoader.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/OpcUaOptions.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/auth/CertificateManager.java
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/auth/ExternalKeystoreCertificateManager.java
Labels: Kura-4.0.0, enhancement, kura-driver

#2204 Modified cloudpublisher or subscriber target property.
  kura/examples/org.eclipse.kura.demo.heater/OSGI-INF/metatype/org.eclipse.kura.demo.heater.Heater.xml
  kura/examples/org.eclipse.kura.demo.modbus/OSGI-INF/metatype/org.eclipse.kura.demo.modbus.ModbusExample.xml
  kura/examples/org.eclipse.kura.example.beacon.scanner/OSGI-INF/metatype/org.eclipse.kura.example.beacon.scanner.BeaconScannerExample.xml
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/OSGI-INF/metatype/org.eclipse.kura.example.ble.tisensortag.tinyb.BluetoothLe.xml
  kura/examples/org.eclipse.kura.example.ble.tisensortag/OSGI-INF/metatype/org.eclipse.kura.example.ble.tisensortag.BluetoothLe.xml
  kura/examples/org.eclipse.kura.example.eddystone.scanner/OSGI-INF/metatype/org.eclipse.kura.example.eddystone.scanner.EddystoneScanner.xml
  kura/examples/org.eclipse.kura.example.ibeacon.scanner/OSGI-INF/metatype/org.eclipse.kura.example.ibeacon.scanner.IBeaconScanner.xml
  kura/examples/org.eclipse.kura.example.publisher/OSGI-INF/metatype/org.eclipse.kura.example.publisher.ExamplePublisher.xml
  kura/examples/org.eclipse.kura.example.serial.publisher/OSGI-INF/metatype/org.eclipse.kura.example.serial.publisher.ExampleSerialPublisher.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.CloudPublisher.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.CloudSubscriber.xml
Labels: Kura-4.0.0, kura-cloud

#2214 Added property to prevent NPE when installing packages
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/publisher/NotificationPublisherImpl.java
Labels: bug, kura-cloud

#2220 Updated Jetty to v.9.4.12
  target-platform/config/kura.target-platform.build.properties
  target-platform/org.eclipse.kura.jetty.customizer/pom.xml
Labels: Kura-4.0.0

#2218 close #2202 - network router compatibility issue
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dhcp/DhcpClientLeaseBlock.java
Labels: Kura-4.0.0, kura-net

#2222 Fixed change in asset configuration property types
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/internal/asset/provider/BaseAssetConfiguration.java
  kura/test/org.eclipse.kura.asset.provider.test/src/main/java/org/eclipse/kura/asset/provider/test/AssetTest.java
Labels: Kura-4.0.0, kura-asset

#2221 Fixed notification publisher topic.
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceImpl.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/publisher/NotificationPublisherImpl.java
  kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/message/MessageConstants.java
Labels: Kura-4.0.0, kura-cloud

#2225 Fixed modem reset in NOT_CONNECTED state
  kura/org.eclipse.kura.net.admin/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.net.admin/OSGI-INF/modemMonitor.xml
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/PppFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImplTest.java
Labels: Kura-4.0.0, kura-net

#2192 Stop default H2 db service
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/db/H2DbHelper.java
Labels: Kura-4.0.0, kura-db

#2223 Cleanup of tycho surefire and target platform configuration
  kura/examples/pom.xml
  kura/examples/test/pom.xml
  kura/pom.xml
  kura/test/pom.xml
Labels: Kura-4.0.0

#2178 Update TinyB library
  kura/distrib/config/kura.build.properties
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/src/main/java/org/eclipse/kura/example/ble/tisensortag/tinyb/TiSensorTag.java
  kura/examples/test/org.eclipse.kura.example.ble.tisensortag.test/build.properties
  kura/examples/test/org.eclipse.kura.example.ble.tisensortag.tinyb.test/META-INF/MANIFEST.MF
  kura/examples/test/org.eclipse.kura.example.ble.tisensortag.tinyb.test/build.properties
  kura/examples/test/org.eclipse.kura.example.ble.tisensortag.tinyb.test/src/test/java/org/eclipse/kura/example/ble/tisensortag/tinyb/TiSensorTagTest.java
  kura/examples/test/pom.xml
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/KuraBluetoothRemoveException.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/KuraErrorCode.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothLeAdapter.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothLeDevice.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothTransportType.java
  kura/org.eclipse.kura.ble.eddystone.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.ble.ibeacon.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.ble.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.ble.provider/src/main/java/org/eclipse/kura/internal/ble/BluetoothLeAdapterImpl.java
  kura/org.eclipse.kura.ble.provider/src/main/java/org/eclipse/kura/internal/ble/BluetoothLeDeviceImpl.java
  kura/org.eclipse.kura.driver.ble.sensortag.provider/src/main/java/org/eclipse/kura/internal/driver/ble/sensortag/TiSensorTag.java
  kura/test/org.eclipse.kura.internal.driver.ble.sensortag.test/build.properties
  kura/test/org.eclipse.kura.internal.driver.ble.sensortag.test/src/test/java/org/eclipse/kura/internal/driver/ble/sensortag/TiSensorTagTest.java
  target-platform/tinyb-parent/tinyb.armv6hf/src/main/lib/libjavatinyb.so
  target-platform/tinyb-parent/tinyb.armv6hf/src/main/lib/libtinyb.so
  target-platform/tinyb-parent/tinyb.x86_64/src/main/lib/libjavatinyb.so
  target-platform/tinyb-parent/tinyb.x86_64/src/main/lib/libtinyb.so
  target-platform/tinyb-parent/tinyb/pom.xml
  target-platform/tinyb-parent/tinyb/src/README
Labels: Kura-4.0.0, kura-bluetooth

#2226 Removed static initialisation form SupportedUsbModems
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/NetworkServiceImpl.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/modem/SupportedUsbModems.java
Labels: Kura-4.0.0, kura-net

#2230 Fixed cloud connection status url linux path parsing
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/CloudConnectionStatusURL.java
  kura/test/org.eclipse.kura.core.status.test/src/test/java/org/eclipse/kura/core/status/CloudConnectionStatusURLTest.java
Labels: Kura-4.0.0

#2229 Add another type converter for Wires/Camel integration
  kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/type/TypeConverter.java
  kura/test/org.eclipse.kura.camel.test/src/main/java/org/eclipse/kura/camel/type/TypeConverterTest.java
Labels: Kura-4.0.0, enhancement, kura-camel

#2231 Avoid saving snapshot at shutdown
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/db/H2DbHelper.java
Labels: Kura-4.0.0, kura-db

#2234 Fixed server method body for cloud service create/delete.
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtCloudConnectionServiceImpl.java
Labels: Kura-4.0.0, kura-web2

#2245 Fixed regression in handling booleans in Asset config
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/AbstractServicesUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/AssetConfigurationUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/BooleanInputCell.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/ValidationMessages.properties
Labels: Kura-4.0.0, bug, kura-web2

#2247 Fixed some lint issues
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/WiresBlinkServlet.java
  kura/test/org.eclipse.kura.asset.provider.test/src/main/java/org/eclipse/kura/asset/provider/test/AssetTest.java
Labels: Kura-4.0.0, kura-wires

#2248 Use greedy policy-option for publisher/subscriber references
  kura/examples/org.eclipse.kura.demo.heater/OSGI-INF/heater.xml
  kura/examples/org.eclipse.kura.demo.modbus/OSGI-INF/modbusexample.xml
  kura/examples/org.eclipse.kura.example.beacon.scanner/OSGI-INF/beaconExample.xml
  kura/examples/org.eclipse.kura.example.ble.tisensortag.tinyb/OSGI-INF/bleExample.xml
  kura/examples/org.eclipse.kura.example.ble.tisensortag/OSGI-INF/bleExample.xml
  kura/examples/org.eclipse.kura.example.eddystone.scanner/OSGI-INF/EddystoneScanner.xml
  kura/examples/org.eclipse.kura.example.ibeacon.scanner/OSGI-INF/IBeaconScanner.xml
  kura/examples/org.eclipse.kura.example.publisher/OSGI-INF/example.xml
  kura/examples/org.eclipse.kura.example.serial.publisher/OSGI-INF/example.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/CloudPublisherComponent.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/CloudSubscriberComponent.xml
Labels: Kura-4.0.0, kura-cloud

#2244 Fix for possible XXE attack to the xml parser.
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.xml.marshaller.unmarshaller.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.xml.marshaller.unmarshaller.provider/src/main/java/org/eclipse/kura/internal/xml/marshaller/unmarshaller/XmlMarshallUnmarshallImpl.java
Labels: Kura-4.0.0

#2249 Solved few "since" in bluetooth API and removed deprecated WireService.
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/KuraBluetoothRemoveException.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/bluetooth/le/BluetoothTransportType.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/wire/WireService.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/util/GwtWireServiceUtil.java
  kura/org.eclipse.kura.wire.provider/OSGI-INF/WireGraphServiceComponent.xml
  kura/org.eclipse.kura.wire.provider/OSGI-INF/WireServiceCommandComponent.xml
  kura/org.eclipse.kura.wire.provider/OSGI-INF/metatype/org.eclipse.kura.wire.graph.WireGraphService.xml
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireComponentTrackerCustomizer.java
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireGraphServiceImpl.java
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireServiceCommandProvider.java
  kura/test/org.eclipse.kura.internal.wire.test/src/test/java/org/eclipse/kura/internal/wire/WireServiceImplTest.java
  kura/test/org.eclipse.kura.wire.provider.test/src/main/java/org/eclipse/kura/wire/provider/test/WireServiceTest.java
  kura/test/org.eclipse.kura.wire.script.filter.provider.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.wire.script.filter.provider.test/OSGI-INF/ScriptFilterTest.xml
  kura/test/org.eclipse.kura.wire.script.filter.provider.test/src/main/java/org/eclipse/kura/wire/script/filter/provider/test/ScriptFilterTest.java
  kura/test/pom.xml
Labels: Kura-4.0.0, kura-api, kura-bluetooth, kura-wires

#2251 Fixed old wireService reference.
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/upgrade/ConfigurationUpgrade.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/Console.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/EntryClassUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsRPC.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresRPC.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtComponentServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtWireGraphServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/WiresSnapshotServlet.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/util/GwtWireGraphServiceUtil.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtWireGraphService.java
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireComponentTrackerCustomizer.java
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireGraphServiceImpl.java
  kura/test/org.eclipse.kura.internal.wire.test/src/test/java/org/eclipse/kura/internal/wire/WireGraphServiceImplTest.java
Labels: Kura-4.0.0, bug
