Repository eclipse-kura/kura, pull requests merged in 2018-05, with the labels that each got.

#2060 #1911: Upgrade Artemis to 2.5.0
  .travis.yml
  kura/distrib/config/kura.build.properties
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  kura/org.eclipse.kura.broker.artemis.core/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.broker.artemis.core/pom.xml
  kura/org.eclipse.kura.broker.artemis.simple.mqtt/src/main/java/org/eclipse/kura/broker/artemis/simple/mqtt/ServiceComponent.java
  kura/setups/launchers/Eclipse Kura Emulator.launch
  target-platform/config/kura.target-platform.build.properties
  target-platform/org.apache.activemq.artemis/pom.xml
  target-platform/p2-repo-common/pom.xml
Labels: Kura-3.3.0, enhancement

#2053 Update to Eclipse Milo 0.2.1
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.driver.opcua.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.opcua.provider/build.properties
  kura/org.eclipse.kura.driver.opcua.provider/lib/bsd-parser-core-0.2.1.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/bsd-parser-gson-0.2.1.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/sdk-client-0.1.0.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/sdk-client-0.2.1.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/sdk-core-0.1.0.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/sdk-core-0.2.1.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/stack-client-0.1.0.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/stack-client-0.2.1.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/stack-core-0.1.0.jar
  kura/org.eclipse.kura.driver.opcua.provider/lib/stack-core-0.2.1.jar
  kura/org.eclipse.kura.driver.opcua.provider/src/main/java/org/eclipse/kura/internal/driver/opcua/SubscriptionManager.java
  kura/test/org.eclipse.kura.internal.driver.opcua.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/sdk-core-0.1.0.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/sdk-core-0.2.1.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/sdk-server-0.1.0.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/sdk-server-0.2.1.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/stack-core-0.1.0.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/stack-core-0.2.1.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/stack-server-0.1.0.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/lib/stack-server-0.2.1.jar
  kura/test/org.eclipse.kura.internal.driver.opcua.test/src/main/java/org/eclipse/kura/internal/driver/opcua/test/OpcUaDriverTest.java
  kura/test/org.eclipse.kura.internal.driver.opcua.test/src/main/java/org/eclipse/kura/internal/driver/opcua/test/TestNamespace.java
Labels: Kura-3.3.0, kura-distrib

#2082 Fix a bunch of issues in Kura Wires
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireServiceImpl.java
  kura/test/org.eclipse.kura.internal.wire.test/src/test/java/org/eclipse/kura/internal/wire/WireServiceImplTest.java
Labels: bug, kura-wires

#2077 Fix Artemis version to support Kura build infrastructure
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  target-platform/config/kura.target-platform.build.properties
  target-platform/org.apache.activemq.artemis/pom.xml
  target-platform/p2-repo-common/pom.xml
Labels: kura-build

#2083 Improve debug output of known wires
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireServiceCommandProvider.java
Labels: enhancement, kura-wires

#2080 Fixed empty channel descriptor
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
Labels: Kura-4.0.0, kura-asset, kura-driver

#2086 Fixed AT escape sequence timing
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/generic/TelitModem.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/generic/TelitModemAtCommands.java
Labels: Kura-4.0.0, kura-net

#2088 Reduced probability of race condition
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
Labels: Kura-4.0.0, kura-net, kura-position

#2090 Fixed CellularModem instances state persisting across resets
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/net/modem/SerialModemDevice.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/CellularModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/Ppp.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/mc87xx/SierraMc87xxModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/sierra/usb598/SierraUsb598ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/de910/TelitDe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/generic/TelitModem.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910/TelitLe910ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/le910v2/TelitLe910v2ModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/ublox/generic/UbloxModemFactory.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImpl.java
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/util/AbstractCellularModemFactory.java
  kura/test/org.eclipse.kura.net.admin.test/src/test/java/org/eclipse/kura/net/admin/monitor/ModemMonitorServiceImplTest.java
Labels: Kura-4.0.0, kura-net

#2097 Fixed GPS config if modem has never been enabled
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/visitor/linux/PppConfigWriter.java
Labels: Kura-4.0.0, kura-net, kura-position

#2092 [#2091] Compile with a dependency to GLIBCXX_3.4 only
  target-platform/config/kura.target-platform.build.properties
  target-platform/tinyb-parent/tinyb.x86_64/src/main/lib/libjavatinyb.so
  target-platform/tinyb-parent/tinyb.x86_64/src/main/lib/libtinyb.so
Labels: Kura-4.0.0, kura-bluetooth

#2105 Fixed lint issue in GpsDevice
  kura/org.eclipse.kura.linux.position/src/main/java/org/eclipse/kura/linux/position/GpsDevice.java
  kura/org.eclipse.kura.linux.position/src/main/java/org/eclipse/kura/linux/position/GpsDeviceTracker.java
Labels: Kura-4.0.0, kura-position

#2103 Changed exception type in WireAsset
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
  kura/org.eclipse.kura.wire.component.provider/src/main/java/org/eclipse/kura/internal/wire/asset/WireAsset.java
Labels: Kura-4.0.0, kura-wires

#2104 Added Driver for iBeacons
  kura/distrib/config/kura.build.properties
  kura/distrib/pom.xml
  kura/features/org.eclipse.kura.driver.ibeacon/build.properties
  kura/features/org.eclipse.kura.driver.ibeacon/feature.properties
  kura/features/org.eclipse.kura.driver.ibeacon/feature.xml
  kura/features/org.eclipse.kura.driver.ibeacon/pom.xml
  kura/features/pom.xml
  kura/org.eclipse.kura.driver.ibeacon.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.driver.ibeacon.provider/OSGI-INF/IBeaconDriverComponent.xml
  kura/org.eclipse.kura.driver.ibeacon.provider/OSGI-INF/metatype/org.eclipse.kura.driver.ibeacon.xml
  kura/org.eclipse.kura.driver.ibeacon.provider/about.html
  kura/org.eclipse.kura.driver.ibeacon.provider/build.properties
  kura/org.eclipse.kura.driver.ibeacon.provider/pom.xml
  kura/org.eclipse.kura.driver.ibeacon.provider/src/main/java/org/eclipse/kura/internal/driver/ibeacon/IBeaconChannelDescriptor.java
  kura/org.eclipse.kura.driver.ibeacon.provider/src/main/java/org/eclipse/kura/internal/driver/ibeacon/IBeaconDriver.java
  kura/org.eclipse.kura.driver.ibeacon.provider/src/main/java/org/eclipse/kura/internal/driver/ibeacon/IBeaconListener.java
  kura/org.eclipse.kura.driver.ibeacon.provider/src/main/java/org/eclipse/kura/internal/driver/ibeacon/IBeaconOptions.java
  kura/pom.xml
Labels: Kura-4.0.0, enhancement, kura-bluetooth, kura-driver

#2081 Fix Wire component labels
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAssetOCD.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/ConfigurationAreaUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresPanelUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtWireServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/util/GwtServerUtil.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/IdHelper.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtWireComponentDescriptor.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.DbWireRecordFilter.xml
  kura/org.eclipse.kura.wire.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.DbWireRecordStore.xml
  kura/test/org.eclipse.kura.asset.provider.test/src/main/java/org/eclipse/kura/asset/provider/test/AssetTest.java
Labels: Kura-4.0.0, kura-web2

#2111 Added Wires/Driver development components
  kura/distrib/config/kura.build.properties
  kura/examples/org.eclipse.kura.wire.devel.component.provider/.gitignore
  kura/examples/org.eclipse.kura.wire.devel.component.provider/META-INF/MANIFEST.MF
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/Delay.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/DummyDriver.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/Sink.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.devel.delay.Delay.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.devel.driver.dummy.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.devel.sink.Sink.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/about_files/epl-v10.html
  kura/examples/org.eclipse.kura.wire.devel.component.provider/build.properties
  kura/examples/org.eclipse.kura.wire.devel.component.provider/pom.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/DataTypeHelper.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/Property.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/delay/Delay.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/delay/DelayOptions.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/ChannelDescriptorIssue.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/ChannelListenerManager.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/ConnectionManager.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/DummyChannelDescriptor.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/DummyDriver.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/DummyDriverOptions.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/PreparedReadIssue.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/sink/Sink.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/sink/SinkOptions.java
  kura/examples/pom.xml
Labels: Kura-4.0.0, kura-driver, kura-wires

#2118 Added tests for Eddystone and iBeacon driver; Fix for Eddystone Driver
  kura/org.eclipse.kura.driver.eddystone.provider/src/main/java/org/eclipse/kura/internal/driver/eddystone/EddystoneListener.java
  kura/test/org.eclipse.kura.internal.driver.eddystone.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.internal.driver.eddystone.test/build.properties
  kura/test/org.eclipse.kura.internal.driver.eddystone.test/pom.xml
  kura/test/org.eclipse.kura.internal.driver.eddystone.test/src/test/java/org/eclipse/kura/internal/driver/eddystone/EddystoneDriverTest.java
  kura/test/org.eclipse.kura.internal.driver.ibeacon.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.internal.driver.ibeacon.test/build.properties
  kura/test/org.eclipse.kura.internal.driver.ibeacon.test/pom.xml
  kura/test/org.eclipse.kura.internal.driver.ibeacon.test/src/test/java/org/eclipse/kura/internal/driver/ibeacon/IBeaconDriverTest.java
  kura/test/pom.xml
Labels: Kura-4.0.0, kura-driver

#2124 Fix Milo tests
  kura/test/org.eclipse.kura.internal.driver.opcua.test/src/main/java/org/eclipse/kura/internal/driver/opcua/test/OpcUaDriverTest.java
Labels: Kura-4.0.0

#2126 Updated wires devel components to use new API
  kura/examples/org.eclipse.kura.wire.devel.component.provider/META-INF/MANIFEST.MF
  kura/examples/org.eclipse.kura.wire.devel.component.provider/OSGI-INF/metatype/org.eclipse.kura.wire.devel.driver.dummy.xml
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/delay/Delay.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/ConnectionIssue.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/ConnectionManager.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/DummyDriver.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/driver/dummy/DummyDriverOptions.java
  kura/examples/org.eclipse.kura.wire.devel.component.provider/src/org/eclipse/kura/wire/devel/sink/Sink.java
Labels: Kura-4.0.0, kura-driver

#2123 Add support for Java 9
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  target-platform/config/kura.target-platform.build.properties
Labels: Kura-4.0.0, kura-build, kura-distrib

#2127 Improved drivers and assets section error handling
  kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/EntryClassUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/AssetDataUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsRPC.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/FailureHandler.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtAssetServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtChannelOperationResult.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtChannelRecord.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtAssetService.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
  kura/org.eclipse.kura.web2/src/main/webapp/denali.css
Labels: Kura-4.0.0, kura-web2

#2094 Sort interfaces alphabetically
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtStatusServiceImpl.java
Labels: Kura-4.0.0, enhancement, kura-web2

#820 Upgrade to GWT 2.8.2
  kura/org.eclipse.kura.web2/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.web2/pom.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/SnapshotsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/AssetConfigurationUi.java
  target-platform/com.gwt.user/pom.xml
  target-platform/config/kura.target-platform.build.properties
Labels: Kura-4.0.0, kura-build, kura-web2

#2135 Fixed scan timeout in seconds
  kura/distrib/config/kura.build.properties
  kura/examples/org.eclipse.kura.example.eddystone.scanner/src/main/java/org/eclipse/kura/example/eddystone/scanner/EddystoneScanner.java
  kura/examples/org.eclipse.kura.example.ibeacon.scanner/src/main/java/org/eclipse/kura/example/ibeacon/scanner/IBeaconScanner.java
  kura/org.eclipse.kura.ble.provider/src/main/java/org/eclipse/kura/internal/ble/beacon/BluetoothLeBeaconScannerImpl.java
  kura/org.eclipse.kura.driver.eddystone.provider/src/main/java/org/eclipse/kura/internal/driver/eddystone/EddystoneDriver.java
  kura/org.eclipse.kura.driver.ibeacon.provider/src/main/java/org/eclipse/kura/internal/driver/ibeacon/IBeaconDriver.java
  kura/test/org.eclipse.kura.internal.ble.test/src/test/java/org/eclipse/kura/internal/ble/beacon/BluetoothLeBeaconManagerImplTest.java
  kura/test/org.eclipse.kura.internal.ble.test/src/test/java/org/eclipse/kura/internal/ble/beacon/BluetoothLeBeaconScannerImplTest.java
Labels: Kura-4.0.0, kura-bluetooth

#2134 Fixed exit command and added get_interface_number in LinuxUdev.c
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.linux.usb.aarch64/lib/linux/libEurotechLinuxUdev.so
  kura/org.eclipse.kura.linux.usb.armv6hf/lib/linux/libEurotechLinuxUdev.so
  kura/org.eclipse.kura.linux.usb.x86_64/lib/linux/libEurotechLinuxUdev.so
  kura/org.eclipse.kura.linux.usb/src/main/c/udev/LinuxUdev.c
  kura/org.eclipse.kura.linux.usb/src/main/c/udev/Makefile.aarch64
  kura/org.eclipse.kura.linux.usb/src/main/c/udev/Makefile.poky.arm_hf
  kura/org.eclipse.kura.linux.usb/src/main/java/org/eclipse/kura/linux/usb/LinuxUdevNative.java
  kura/org.eclipse.kura.linux.usb/src/main/java/org/eclipse/kura/linux/usb/LinuxUdevUtil.java
  kura/org.eclipse.kura.linux.usb/src/main/java/org/eclipse/kura/linux/usb/UsbServiceImpl.java
Labels: Kura-4.0.0

#2095 Ssl refactor
  kura/distrib/config/kura.build.properties
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  kura/distrib/src/main/resources/aarch64-nn/kura.properties
  kura/distrib/src/main/resources/beaglebone-nn/kura.properties
  kura/distrib/src/main/resources/beaglebone/kura.properties
  kura/distrib/src/main/resources/common/cacerts.ks
  kura/distrib/src/main/resources/fedora-nn/kura.properties
  kura/distrib/src/main/resources/fedora/kura.properties
  kura/distrib/src/main/resources/intel-edison-nn/kura.properties
  kura/distrib/src/main/resources/intel-up2-centos-7-nn/kura.properties
  kura/distrib/src/main/resources/pcengines-apu-nn/kura.properties
  kura/distrib/src/main/resources/pcengines-apu/kura.properties
  kura/distrib/src/main/resources/raspberry-pi-2-nn/kura.properties
  kura/distrib/src/main/resources/raspberry-pi-2/kura.properties
  kura/distrib/src/main/resources/raspberry-pi-bplus-nn/kura.properties
  kura/distrib/src/main/resources/raspberry-pi-bplus/kura.properties
  kura/distrib/src/main/resources/raspberry-pi-nn/kura.properties
  kura/distrib/src/main/resources/raspberry-pi/kura.properties
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/pom.xml
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/ssl/SslManagerService.java
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/system/SystemService.java
  kura/org.eclipse.kura.core.crypto/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core.crypto/src/main/java/org/eclipse/kura/core/crypto/CryptoServiceImpl.java
  kura/org.eclipse.kura.core.deployment/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/data/transport/mqtt/MqttDataTransport.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl/ConnectionSslOptions.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl/SSLSocketFactoryWrapper.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl/SslManagerServiceImpl.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl/SslManagerServiceOptions.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/system/SystemServiceImpl.java
  kura/org.eclipse.kura.deployment.agent/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.web2/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/AbstractServicesUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/SettingsPanelUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/SslTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/Settings/SslTabUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtComponentServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSslServiceImpl.java
  kura/test/org.eclipse.kura.core.ssl.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.core.ssl.test/src/test/java/org/eclipse/kura/core/ssl/ConnectionSslOptionsTest.java
  kura/test/org.eclipse.kura.core.ssl.test/src/test/java/org/eclipse/kura/core/ssl/SSLSocketFactoryWrapperTest.java
  kura/test/org.eclipse.kura.core.ssl.test/src/test/java/org/eclipse/kura/core/ssl/SslManagerServiceImplTest.java
Labels: Kura-4.0.0, kura-sec
