Repository eclipse-kura/kura, pull requests merged in 2019-01, with the labels that each got.

#2349 Added check for resolv.conf symlink
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dns/LinuxDns.java
Labels: bug, kura-net

#2348 Improved Web UI configuration loading
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/pom.xml
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/configuration/ConfigurationService.java
  kura/org.eclipse.kura.core.configuration/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java
  kura/org.eclipse.kura.core/build.properties
  kura/org.eclipse.kura.web2/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/cloudconnection/CloudConnectionConfigurationsUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsRPC.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/DriversAndAssetsUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresPanelUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/wires/WiresRPC.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtComponentServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtWireGraphServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/FilterUtil.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtWireGraph.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtWireGraphService.java
  kura/org.eclipse.kura.wire.camel/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.wire.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.wire.provider/src/main/java/org/eclipse/kura/internal/wire/WireGraphServiceImpl.java
  kura/test/org.eclipse.kura.core.configuration.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.core.configuration.test/src/main/java/org/eclipse/kura/core/configuration/test/ConfigurationServiceTest.java
Labels: enhancement, kura-config, kura-web2

#2346 Changes to solve lint issues in CloudConnectionStatus.
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/CloudConnectionStatusServiceImpl.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/runnables/BlinkStatusRunnable.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/runnables/HeartbeatStatusRunnable.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/runnables/LogStatusRunnable.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/runnables/OnOffStatusRunnable.java
  kura/org.eclipse.kura.core.status/src/main/java/org/eclipse/kura/core/status/runnables/StatusRunnable.java
Labels: cleanup, enhancement

#2355 Fixed regression in CloudService tab ordering
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/cloudconnection/CloudConnectionConfigurationsUi.java
Labels: kura-web2

#2354 Fixed handling of line breaks in unencrypted snapshots
  kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java
  kura/test/org.eclipse.kura.core.configuration.test/src/test/java/org/eclipse/kura/core/configuration/ConfigurationServiceTest.java
Labels: kura-config

#2339 Bugfix for invalid inputs in UUID
  kura/distrib/config/kura.build.properties
  kura/examples/org.eclipse.kura.example.beacon/OSGI-INF/metatype/org.eclipse.kura.example.beacon.BeaconExample.xml
  kura/examples/org.eclipse.kura.example.beacon/src/main/java/org/eclipse/kura/example/beacon/BeaconExample.java
  kura/examples/org.eclipse.kura.example.eddystone.advertiser/OSGI-INF/metatype/org.eclipse.kura.example.eddystone.advertiser.EddystoneAdvertiser.xml
  kura/examples/org.eclipse.kura.example.eddystone.advertiser/src/main/java/org/eclipse/kura/example/eddystone/advertiser/EddystoneAdvertiserOptions.java
  kura/examples/org.eclipse.kura.example.ibeacon.advertiser/OSGI-INF/metatype/org.eclipse.kura.example.ibeacon.advertiser.IBeaconAdvertiser.xml
  kura/examples/org.eclipse.kura.example.ibeacon.advertiser/src/main/java/org/eclipse/kura/example/ibeacon/advertiser/IBeaconAdvertiser.java
  kura/examples/org.eclipse.kura.example.ibeacon.advertiser/src/main/java/org/eclipse/kura/example/ibeacon/advertiser/IBeaconAdvertiserOptions.java
  kura/org.eclipse.kura.ble.eddystone.provider/src/main/java/org/eclipse/kura/internal/ble/eddystone/BluetoothLeEddystoneEncoderImpl.java
  kura/org.eclipse.kura.ble.ibeacon.provider/src/main/java/org/eclipse/kura/internal/ble/ibeacon/BluetoothLeIBeaconEncoderImpl.java
  kura/org.eclipse.kura.linux.bluetooth/src/main/java/org/eclipse/kura/linux/bluetooth/le/beacon/BluetoothAdvertisingData.java
  kura/test/org.eclipse.kura.internal.ble.eddystone.test/src/test/java/org/eclipse/kura/internal/ble/eddystone/BluetoothLeEddystoneEncoderDecoderImplTest.java
  kura/test/org.eclipse.kura.internal.ble.ibeacon.test/src/test/java/org/eclipse/kura/internal/ble/ibeacon/BluetoothLeIBeaconEncoderDecoderImplTest.java
  kura/test/org.eclipse.kura.internal.ble.ibeacon.test/src/test/java/org/eclipse/kura/internal/ble/ibeacon/BluetoothLeIBeaconServiceImplTest.java
Labels: bug, kura-bluetooth
