Repository eclipse-kura/kura, pull requests merged in 2019-04, with the labels that each got.

#2416 Fixed issues for Kura on Intel UP2 Ubuntu
  kura/distrib/pom.xml
  kura/distrib/src/main/ant/build_equinox_distrib.xml
  kura/distrib/src/main/deb/control/prerm
  kura/distrib/src/main/deb/control_nn/prerm
  kura/distrib/src/main/resources/common/ifcfg-eth0
  kura/distrib/src/main/resources/common/ifcfg-eth1
  kura/distrib/src/main/resources/common/ifcfg-wlan0
  kura/distrib/src/main/resources/intel-up2-centos-7/dhcpd-enp2s0.conf
  kura/distrib/src/main/resources/intel-up2-centos-7/dhcpd-wlp4s0.conf
  kura/distrib/src/main/resources/intel-up2-centos-7/hostapd.conf
  kura/distrib/src/main/resources/intel-up2-centos-7/ifcfg-enp2s0
  kura/distrib/src/main/resources/intel-up2-centos-7/ifcfg-enp3s0
  kura/distrib/src/main/resources/intel-up2-centos-7/ifcfg-wlp4s0
  kura/distrib/src/main/resources/intel-up2-centos-7/kura_install.sh
  kura/distrib/src/main/resources/intel-up2-ubuntu-16/README.md
  kura/distrib/src/main/resources/intel-up2-ubuntu-16/jdk.dio.properties
  kura/distrib/src/main/resources/intel-up2-ubuntu-16/snapshot_0.xml
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/README.md
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/dhcpd-enp2s0.conf
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/dhcpd-wlp4s0.conf
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/firewall.init
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/hostapd.conf
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/iptables.init
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/jdk.dio.properties
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/kura.properties
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/kura_install.sh
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/kura_upgrade.sh
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/kuranet.conf
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/log4j.xml
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/network.interfaces
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/recover_default_config.init
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/snapshot_0.xml
  kura/distrib/src/main/resources/raspberry-pi-2/dhcpd-eth0.conf
  kura/distrib/src/main/resources/raspberry-pi-2/dhcpd-wlan0.conf
  kura/distrib/src/main/resources/raspberry-pi-2/hostapd.conf
  kura/distrib/src/main/resources/raspberry-pi-2/kura_install.sh
  kura/distrib/src/main/resources/raspberry-pi-2/network.interfaces
Labels: kura-distrib

#2419 Implemented wifi capability probing using iw
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/NetworkServiceImpl.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/util/IwCapabilityTool.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/util/IwlistCapabilityTool.java
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/util/LinuxNetworkUtil.java
Labels: enhancement, kura-net

#2424 Updated eclipse kura emulator
  kura/setups/launchers/Eclipse Kura Emulator.launch
Labels: installation

#2428 Fixed websocket disconnection issue using https://github.com/eclipse/…
  kura/org.eclipse.kura.core/lib/org.eclipse.paho.client.mqttv3-1.2.1.k1.jar
Labels: kura-cloud

#2429 Fixed NPE on DhcpClientLeaseBlock
  kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/dhcp/DhcpClientLeaseBlock.java
Labels: kura-net

#2432 Fix GPS enable when PPP is not configured
  kura/org.eclipse.kura.net.admin/src/main/java/org/eclipse/kura/net/admin/modem/telit/he910/TelitHe910ConfigGenerator.java
Labels: bug, kura-net
