Repository eclipse-kura/kura, pull requests merged in 2019-08, with the labels that each got.

#2505 solution to the problem #2502
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/firewall/OpenPortsTabUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtNetworkServiceImpl.java
Labels: bug

#2517 Changed web console service description.
  kura/org.eclipse.kura.web2/OSGI-INF/metatype/org.eclipse.kura.web.Console.xml
Labels: kura-web2

#2489 Fix variable replacement in topic string
  kura/org.eclipse.kura.wire.component.provider/src/main/java/org/eclipse/kura/internal/wire/publisher/CloudPublisher.java
  kura/test/org.eclipse.kura.wire.component.provider.test/src/test/java/org/eclipse/kura/internal/wire/publisher/CloudPublisherTest.java
Labels: enhancement, kura-cloud, kura-wires

#2403 Fixing file attributes for missing executable flag
  kura/distrib/src/main/ant/build_equinox_distrib.xml
Labels: installation

#2529 XDK driver fixes and solved lint issues.
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/SensorListener.java
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/SensorName.java
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/Xdk.java
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/XdkChannelDescriptor.java
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/XdkDriver.java
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/XdkGatt.java
  kura/org.eclipse.kura.driver.ble.xdk/src/main/java/org/eclipse/kura/internal/driver/ble/xdk/XdkOptions.java
Labels: enhancement, kura-bluetooth

#2533 Added ip in rest audit messages.
  kura/org.eclipse.kura.rest.provider/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.rest.provider/src/main/java/org/eclipse/kura/internal/rest/provider/RestService.java
Labels: kura-rest
