Repository eclipse-kura/kura, pull requests merged in 2019-07, with the labels that each got.

#2463 Added login background.
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/login/LoginUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/webapp/denali.css
  kura/org.eclipse.kura.web2/src/main/webapp/eclipse/kura/icons/kura_login_background.png
Labels: kura-web2

#2477 Implemented retrieving SSLContext from SslManagerService
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.api/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.api/pom.xml
  kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/ssl/SslManagerService.java
  kura/org.eclipse.kura.core/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl/SSLContextSPIWrapper.java
  kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl/SslManagerServiceImpl.java
  kura/test/org.eclipse.kura.core.ssl.test/src/test/java/org/eclipse/kura/core/ssl/SslManagerServiceImplTest.java
Labels: kura-sec

#2472 Added login banner feature.
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.util/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.util/src/main/java/org/eclipse/kura/util/configuration/Property.java
  kura/org.eclipse.kura.web2/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.web2/OSGI-INF/metatype/org.eclipse.kura.web.Console.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/Console.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/ConsoleOptions.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/EntryClassUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/EntryClassUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/status/StatusPanelUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSessionServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtSessionService.java
  kura/org.eclipse.kura.web2/src/main/webapp/denali.css
Labels: kura-web2

#2466 Updated H2DB to version 1.4.199.
  kura/distrib/config/kura.build.properties
  kura/org.eclipse.kura.core/META-INF/MANIFEST.MF
  kura/org.eclipse.kura.wire.h2db.component.provider/src/main/java/org/eclipse/kura/internal/wire/h2db/store/H2DbWireRecordStore.java
  kura/test/org.eclipse.kura.core.configuration.test/pom.xml
  kura/test/org.eclipse.kura.core.db.test/META-INF/MANIFEST.MF
  kura/test/org.eclipse.kura.core.db.test/pom.xml
  kura/test/org.eclipse.kura.core.deployment.test/pom.xml
  kura/test/org.eclipse.kura.core.system.test/pom.xml
  kura/test/org.eclipse.kura.core.test/pom.xml
  kura/test/org.eclipse.kura.internal.wire.test/pom.xml
  kura/test/org.eclipse.kura.wire.provider.test/pom.xml
  target-platform/config/kura.target-platform.build.properties
Labels: kura-db, security

#2481 Improved css.
  kura/org.eclipse.kura.web2/src/main/webapp/denali.css
  kura/org.eclipse.kura.web2/src/main/webapp/eclipse/kura/icons/eclipse_foundation_logo.png
  kura/org.eclipse.kura.web2/src/main/webapp/eclipse/kura/icons/kura_login_background.png
  kura/org.eclipse.kura.web2/src/main/webapp/eclipse/kura/icons/kura_login_logo.png
Labels: kura-web2

#2484 Fixed H2db invocation in config.ini file.
  kura/distrib/src/main/ant/build_equinox_distrib.xml
Labels: bug

#2469 Updated gwt code to log logins and logouts from the UI.
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/login/LoginUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtPasswordAuthenticationServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSessionServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/session/SessionExpirationSecurityHandler.java
Labels: kura-web2

#2492 Improved channel config table layout
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/AssetConfigurationUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/drivers/assets/AssetConfigurationUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/util/ResizableTableHeader.java
  kura/org.eclipse.kura.web2/src/main/webapp/denali.css
Labels: kura-web2

#2497 Added support for strength requirements for wifi password
  kura/org.eclipse.kura.web2/OSGI-INF/metatype/org.eclipse.kura.web.Console.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/ConsoleOptions.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/EntryClassUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/NewPasswordInput.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/PredicateValidator.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/RegexValidator.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/network/TabWirelessUi.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/network/TabWirelessUi.ui.xml
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSessionServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/model/GwtConsoleUserOptions.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtSessionService.java
  kura/org.eclipse.kura.web2/src/main/resources/org/eclipse/kura/web/client/messages/Messages.properties
Labels: kura-net, kura-sec, kura-web2

#2500 correction the code Docker
  _posts/intro/2014-03-01-docker-quick-start.md
Labels: documentation

#2501 add refere to localhost
  _posts/intro/2014-03-01-docker-quick-start.md
Labels: documentation, enhancement

#2465 New gpio bundle to manage led.
  kura/examples/org.eclipse.kura.example.gpio.led/META-INF/MANIFEST.MF
  kura/examples/org.eclipse.kura.example.gpio.led/OSGI-INF/component.xml
  kura/examples/org.eclipse.kura.example.gpio.led/OSGI-INF/metatype/org.eclipse.kura.example.gpio.led.LedExample.xml
  kura/examples/org.eclipse.kura.example.gpio.led/build.properties
  kura/examples/org.eclipse.kura.example.gpio.led/pom.xml
  kura/examples/org.eclipse.kura.example.gpio.led/src/org/eclipse/kura/example/gpio/led/LedExample.java
  kura/examples/org.eclipse.kura.example.gpio.led/src/org/eclipse/kura/example/gpio/led/LedOptions.java
  kura/examples/pom.xml
  kura/target-definition/kura-equinox_3.12.50.target
Labels: Kura-examples

#2498 Gpio example doc
  _posts/dev/2014-08-02-kura-dio-apis.md
  assets/images/drivers_and_assets/componet_gpio_led.png
  assets/images/drivers_and_assets/manifest_gpio_led.png
  assets/images/drivers_and_assets/metatype_gpio_led.png
Labels: Kura-examples, documentation

#2494 Audit feature
  kura/distrib/src/main/resources/intel-up2-centos-7-nn/log4j.xml
  kura/distrib/src/main/resources/intel-up2-centos-7/log4j.xml
  kura/distrib/src/main/resources/intel-up2-ubuntu-18/log4j.xml
  kura/distrib/src/main/resources/raspberry-pi-2-nn/log4j.xml
  kura/distrib/src/main/resources/raspberry-pi-2/log4j.xml
  kura/distrib/src/main/resources/rock960-ubuntu-16-nn/log4j.xml
  kura/org.eclipse.kura.rest.provider/src/main/java/org/eclipse/kura/internal/rest/provider/RestService.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/Console.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtAssetServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtCertificatesServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtCloudConnectionServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtComponentServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtDeviceServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtEventServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtPackageServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtPasswordAuthenticationServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSecurityServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSessionServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSnapshotServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtSslServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtStatusServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/GwtWireGraphServiceImpl.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/KuraRemoteServiceServlet.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/ChannelServlet.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/DeviceSnapshotsServlet.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/FileServlet.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/servlet/WiresSnapshotServlet.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/session/CreateSessionSecurityHandler.java
  kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/shared/service/GwtSslService.java
Labels: kura-web2

#2509 update kura documentation
  _posts/intro/2014-02-01-raspberry-pi-quick-start.md
Labels: documentation
