Repository eclipse-kura/kura, pull requests merged in 2023-02, with the labels that each got.

#4356 docs: Updated initial installation steps
  docs/getting-started/raspberry-pi-raspberryos-quick-start.md
Labels: backport docs-release-5.2

#4341 fix: Fixed kura archetype-metadata
  kura/tools/archetype/example/pom.xml
  kura/tools/archetype/example/src/main/resources/META-INF/maven/archetype-metadata.xml
Labels: bug

#4357 docs: Restored DEPLOY-V2 docs and documented verifier script
  docs/references/images/kapua_device_packages.png
  docs/references/images/kapua_package_install_job.png
  docs/references/mqtt-namespace.md
Labels: backport docs-release-5.2

#4368 docs(container.orchestrator): updated Creating container guide to explain that the name set for PID will be the container name
  docs/core-services/container-orchestration-provider-usage.md
Labels: backport release-5.0.0, backport release-5.1.0, backport release-5.2.0

#4376 docs: Documented supported OPC-UA types
  docs/connect-field-devices/opcua-driver.md
Labels: backport docs-release-5.2
